<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AppMF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Consultas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="consulta_compras">Consulta de compra de gado</a>
            <a class="dropdown-item" routerLink="consulta_animais">Consulta de Animais</a>
            <a class="dropdown-item" routerLink="consulta_pecuaristas">Consulta de Pecuaristas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="cadastro_compras">Cadastro de Compra de Gados</a>
            <a class="dropdown-item" routerLink="cadastro_animais">Cadastro de Animais</a>
            <a class="dropdown-item" routerLink="cadastro_pecuaristas">Cadastro de Pecuaristas</a>
          </div>
        </li>
      </ul>
      
    </div>
</nav> 